{deps,
 [
  {erlydtl, ".*",
   {git, "git://github.com/erlydtl/erlydtl.git", {tag, "0.9.4"}}},
  {getopt, ".*",
   {git, "git://github.com/jcomellas/getopt", {tag, "v0.8.2"}}},
  {ibrowse, ".*",
   {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.1.1"}}},
  {jsx, ".*",
   {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.1"}}},
  {meck, ".*",
   {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
 ]}.

{escript_incl_apps, [erlydtl, getopt, ibrowse, jsx]}.

{erl_opts, [debug_info, fail_on_warning]}.

{erlydtl_opts, [{compiler_options, [debug_info]}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

