<%= error_messages_for 'slot' %>

<!--[form:slot]-->
<p><label for="slot_start">Start</label><br/>
<%= datetime_select 'slot', 'start'  %></p>

<p><label for="slot_start">Finish</label><br/>
<%= datetime_select 'slot', 'finish'  %></p>

<!--[eoform:slot]-->
